
.sec-catalog p{
	font-size: 12px;
	font-weight: 300;
}
.sec-catalog h2{
	font-size: 20px;
	font-weight: 900;
	color: var(--blue-dark);
}
.sec-catalog h3{
	font-size: 20px;
	font-weight: 900;
	opacity: 0.2;
}
.sec-catalog h4{
	z-index: 10;
	font-size: 30;
	font-weight: 900;
	position: absolute;
	top: 100%; left: 100%;
	transform: translate(-100%, -100%);
	padding: 10px;
	color: white;
	mix-blend-mode: soft-light;
}
.col-3 h4{
	top: 16%;
	left: 27%;
}
.sec-catalog__cards .card{
	background-color: white;
	border-radius: 10px;
	width: 100%; 
	height: 300px;
	display: flex;
	box-shadow: var(--shadow);
	flex-direction: column;
	overflow: hidden;
} 

.sec-catalog .content{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 20px;
	gap: 10px;
	flex: 1;
}
.card .card__preview{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	flex: 1;
}
.card__preview img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.sec-catalog .name{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sec-catalog .text-box{
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow-y: auto;
	padding-right: 10px;
}
.sec-catalog .text-box::-webkit-scrollbar{
	width: 5px;
}
.sec-catalog .text-box::-webkit-scrollbar-track{
	background-color: #E0E0E0;
	border-radius: 30px;
}
.sec-catalog .text-box::-webkit-scrollbar-thumb{
	background-color: #4460A0;
	border-radius: 30px;
}
.sec-catalog .container{
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.sec-catalog__cards{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

@media (min-width: 1160px){
	.card.col-3{ 
		grid-column: span 3;
		flex-direction: row;
		
	}
	.card.col-3 .card__preview{
		flex: 1.5;
	}
	.card.col-3 .content{
		padding: 35px;
	}
	.card.col-2 .card__preview{
		flex: 1;
	}
	.card.col-2{ 
		grid-column: span 2;
		flex-direction: row;
	}
}
@media (max-width: 1160px){
.card .card__preview{
	flex: 10;
}
.sec-catalog__cards{
	grid-template-columns: 1fr;
}
.sec-catalog__cards .card{
	height: 600px;
}
}