.sec-contacts__info{
	display: flex;
	gap: 5%;
}
.sec-contacts__input{
	flex: 1;
}
.sec-contacts__input form{
	position: relative;
	display: flex;
	flex-direction: column;
	padding-top: 100px;
	gap: 30px;
}
.sec-contacts__input label{
	height: 60px;
	width: 100%;
	position: relative;
}
.sec-contacts__input input{
	height: 100%;
	width: 100%;
	border-radius: 10px;
	border: 0px;
	box-shadow: var(--shadow);
	padding-left: 50px;
}
.sec-contacts__input img{
	position: absolute;
	top: 50%;
	transform: translate(10px, -50%);
	pointer-events: none;
	user-select: none;
}
.sec-contacts .container{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.sec-contacts__massage{
	flex: 1;
	width: 100%;
	height: 500px;
	position: relative;
}
.sec-contacts__massage [alt='bg']{
	position: absolute;
	width: 100%; height: 100%;
	object-fit: cover;
	z-index: -1;
	border-radius: 30px;
}
.sec-contacts__massage textarea{
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 20px;
	width: 80%;
	height: 50%;
	padding: 20px;
	resize: none;
}
@media(max-width: 730px){
	.sec-contacts__massage{
		height: 500px;
	}
}
@media(max-width: 670px){
	.sec-contacts__massage{
		height: 350px;
	}
	.sec-contacts__input form{
		padding-top: 30px;
	}
}
@media(max-width: 630px){
	.sec-contacts__massage{
		height: 350px;
	}
	.sec-contacts__input form{
		padding-top: 30px;
	}
}
@media(max-width: 500px){
	.sec-contacts__massage{
		height: 350px;
	}
	.sec-contacts__input form{
		padding-top: 30px;
	}
	.sec-contacts__input img{
		display: none;
	}
	.sec-contacts__input input{
		padding-left: 5px;
	}
}
